  <nav class="blue">
    
    <div class="nav-wrapper">
      
      <a href="#!" class="right brand-logo">My Angular 2</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#!" class="waves-effect waves-light"><i class="material-icons left">clear_all</i></a></li>
        <li class="waves-effect waves-light" routerLinkActive="active"><a routerLink="/one"><i class="material-icons left">filter_drama</i>Home</a></li>
        <li class="waves-effect waves-light" routerLinkActive="active"><a routerLink="/two" ><i class="material-icons left">assignment_ind</i>About</a></li>
      </ul>
      
        
      <ul class="side-nav" id="mobile-demo">
        <li class="waves-effect waves-light" routerLinkActive="active"><a routerLink="/one">One</a></li>
        <li class="waves-effect waves-light" routerLinkActive="active"><a routerLink="/two" >Two</a></li>
      </ul>
    </div>
  </nav>